@model SimonChung_PassionProject.Models.CarDto
@{ 
    ViewBag.Title = "View";
}

<a class="crud_link" href="/car/List">Back to List</a>
<a class="crud_link" href="/car/edit/@Model.CarID">Update</a>
<a class="crud_link" href="/car/confirmdelete/@Model.CarID">Delete</a>
<h2>Car ID: @Model.CarID</h2>

<div class="car_detail">Price: $@Model.Price</div>
<div class="car_detail">Year: @Model.Year</div>
<div class="car_detail">Mileage: @Model.Mileage km</div>
<div class="car_detail">Model: @Model.CarModelName</div>
<div class="car_detail">Make: @Model.CarMakeName</div>
<div class="car_detail">Dealer: @Model.DealerName</div>