@model SimonChung_PassionProject.Models.CarDto
@{
    ViewBag.Title = "View";
}

<a href="/car/List">Back to List</a>
<a href="/car/edit/@Model.CarID">Update</a>
<a href="/car/confirmdelete/@Model.CarID">Delete</a>
<h2>Car ID: @Model.CarID</h2>

<div>Price: $@Model.Price</div>
<div>Year: @Model.Year</div>
<div>Mileage: @Model.Mileage km</div>
<div>Model: @Model.CarModelName</div>
<div>Make: @Model.CarMakeName</div>
<div>Dealer: @Model.DealerName</div>