@model IEnumerable<SimonChung_PassionProject.Models.CarDto>
@{
    ViewBag.Title = "List";
}

<h2>All Cars</h2>

<a class="crud_link" href="/car/new">Add car</a>
<div class="list_container">
    @foreach (var car in Model)
    {
        <div class="list_item">
            <h2>Car Id: <a class="crud_link" href="/car/details/@car.CarID">@car.CarID</a></h2>
            <div>Price: $@car.Price</div>
            <div>Year: @car.Year</div>
            <div>Mileage: @car.Mileage km</div>
            <div>Model: @car.CarModelName</div>
            <div>Make: @car.CarMakeName</div>
            <div>Dealer: @car.DealerName</div>
        </div>
    }
</div>