@model SimonChung_PassionProject.Models.ViewModels.DetailsDealer

@{
    ViewBag.Title = "Details";
}

<h2>@Model.SelectedDealer.DealerName</h2>

<a class="crud_link" href="/dealer/List">Back to List</a>
<a class="crud_link" href="/dealer/edit/@Model.SelectedDealer.DealerID">Update</a>
<a class="crud_link" href="/dealer/confirmdelete/@Model.SelectedDealer.DealerID">Delete</a>



<div style="margin-top: 100px;">
    <h3>Cars Available at @Model.SelectedDealer.DealerName</h3>
    @foreach (var car in Model.RelatedCars)
    {
        <a href="/car/details/@car.CarID">Car ID: @car.CarID</a>
        <div class="car_detail">Model: @car.CarModelName</div>
        <div class="car_detail">Make:@car.CarMakeName</div>
        <div class="car_detail">Mileage: @car.Mileage</div>
        <div class="car_detail">Price: @car.Price</div>
        <br />
    }
</div>